
.bigtree {
	/*width: 100%;
	height: 100%;*/
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #f5f7f8;
}

.bigtree .bt-hbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.bigtree .bt-flex {
	-webkit-flex: 1;
	-ms-flex: 1;
    flex: 1;
}

.bt-grid {
	margin: 20px;
}

.bt-mask {
    position: absolute;
    margin-top: -10px;
    margin-left: -12px;
    left: 50%;
    top: 50%;
}

.bt-node {
	height: 32px;
	margin: 0;
	padding: 1px 0;
	display: block;
}

.bt-node.bt-selected .bt-node-body {
	outline: 2px solid #98AAB3;
	outline-offset: -2px;
	border-color: #98AAB3;
}

.bt-node.bt-selected .bt-drag,
.bt-node.bt-selected .bt-node-body {
	background-color: #ffffff !important;
}

.bt-node-elbow, 
.bt-node-body {
	height: 30px;
}

.bt-node-elbow {
	position: relative;
	width: 25px;
}

.bt-node-elbow.elbow-line:before,
.bt-node-elbow.elbow-end:before,
.bt-node-elbow.elbow-end:after {
	content: '';
	display: block;
	position: absolute;
}

.bt-node-elbow.elbow-line:before {
	border-left: solid 1px #dfdfdf;
	left: 10px;
	top: -1px;
	bottom: -1px;
}

.bt-node-elbow.elbow-end:before {
	border-left: solid 1px #dfdfdf;
	left: 10px;
	top: -1px;
	bottom: -1px;
}

.bt-node-elbow.elbow-end:after {
	border-top: solid 1px #dfdfdf;
	left: 10px;
	top: 14px;
	right: 0;
}

.bt-node.bt-last .bt-node-elbow.elbow-end:before {
	bottom: 15px;
}

.bt-node-elbow .elbow-expander {
	position: absolute;
	z-index: 2;
	top: 7px;
	left: 4px;
	width: 14px;
	height: 14px;
	display: block;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.bt-node-elbow .elbow-expander.elbow-plus {
	background-image: url(../bigtree/sprites.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.bt-node-elbow .elbow-expander.elbow-minus {
	background-image: url(../bigtree/sprites.png);
	background-position: -18px 0;
	background-repeat: no-repeat;
}

.bt-node-body {
	border: solid 1px #E3EBEF;
	background: #ffffff;
	overflow: hidden;
	padding: 0;
	border-radius: 0;
}

.bt-node.bt-moving .bt-node-elbow:not(.elbow-end):before {
	border-left: none;
}

.bt-node.bt-moving .bt-node-elbow.elbow-end:before {
	border-left: none;
}

.bt-node.bt-moving .bt-node-elbow.elbow-end:after {
	border-top: none;
}

.bt-drag,
.bt-text,
.bt-editor input,
.bt-plugin {
	height: 28px;
}

.bt-drag {
	width: 16px;
	background: transparent url(../bigtree/sprites.png) no-repeat -28px -15px;
	border-width: 0;
	cursor: pointer;
}

.bt-hightlight {
	background-color: #FF9;
	font-weight: 400;
}

.bt-text,
.bt-editor input {
	font-weight: 300;
	font-size: 13px;
	color: #333;
	/*overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
}

.bt-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 28px;
	padding: 0 0 0 5px;
	position: relative;
	/*cursor: text;*/
}

.bt-text input {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	border: none;
	width: 100%;
	outline: none;
	padding: 0;
	background-color: transparent;

	font-weight: 300;
	font-size: 13px;
	color: inherit;
}

.bt-selected .bt-text input {
	color: #333;
}

.bt-editor {
	position: absolute;
	left: 5px;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
}

.bt-editor input {
	border: none;
	width: 100%;
	outline: none;
	padding: 0;
}

.bt-node.bt-match .bt-node-body .bt-text {
	background: transparent;
	background: -moz-linear-gradient(top, rgba(255,255,0,0) 0%, rgba(255,255,0,0) 16%, rgba(255,255,0,1) 17%, rgba(255,255,0,1) 85%, rgba(255,255,0,0) 86%, rgba(255,255,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,0,0) 0%,rgba(255,255,0,0) 16%,rgba(255,255,0,1) 17%,rgba(255,255,0,1) 85%,rgba(255,255,0,0) 86%,rgba(255,255,0,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,0,0) 0%,rgba(255,255,0,0) 16%,rgba(255,255,0,1) 17%,rgba(255,255,0,1) 85%,rgba(255,255,0,0) 86%,rgba(255,255,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff00', endColorstr='#00ffff00',GradientType=0 );
}

.bt-node.bt-match .bt-node-body .bt-text input {
	color: #333;
}

/** dragdrop */
.bt-node-sortable.ui-sortable-placeholder {
	background: url(../bigtree/sprites.png) no-repeat -1px -15px;
	width: 24px;
	height: 32px;
	margin-left: -15px;
	opacity: .5;
}

/** test: 100px; */
.bt-grid.test .bt-node {
	height: 100px;
}

.bt-grid.test .bt-node-body {
	height: 98px;
}

.bt-grid.test .bt-node-elbow.elbow-line::before {
	bottom: -70px;
}

.bt-grid.test .bt-node-elbow.elbow-end::before {
	bottom: -70px;
}

.bt-grid.test .bt-node-elbow.elbow-end::after {
	top: 50px;
}

.bt-grid.test .bt-node.bt-last .bt-node-elbow.elbow-end::before {
	bottom: -20px;
}

.bt-grid.test .bt-node-elbow .elbow-expander {
	top: 43px;
}

/** flash transition */
.bt-node-body.flash {
	-webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.bt-node-body.flash.start {
	background-color: #FFEB3B !important;
	border-color: #FFC107 !important;
}